

<div class="container mb-4" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped" style="color: white">
                <thead>
                <tr>
                    <th scope="col">Име на библиотека</th>
                    <th scope="col">Локација</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="r : ${readingRooms}">
                    <td >  <a th:href="@{'/readingrooms/{id}' (id=${r.getId()})}"><span  th:text="${r.getName()}" ></span></a></td>
                    <td><a th:href="@{'https://www.google.com/maps/search/?api=1&query={latitude},{longitude}' (latitude=${r.getLat()}, longitude=${r.getLon()})}">Локација</a> </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
