<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Почетна страна на вработен</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <style>
        body {
            font-family: Arial;
            margin-top: 2%;
            background-image: url(../images/pozadina.jpg);

            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .nav-bar {
            font-size: 23px;
            padding: 10px;
            color: white;
            text-decoration: none;
        }
        a:hover{
            color: black;
            text-decoration: none;
        }
    </style>
</head>
<body>

<nav >
    <div style="display: inline-block; width: 100%">
        <div>
            <a href="/home" style="margin-left: 2%; float: left"><img style="border-radius: 10px" src="images\logoLink.jpg"></a>
        </div>
        <div style=" float: right; background-color: grey; padding: 2%; width: 65%; margin-right: 5%; border-radius: 20px">
            <a class="nav-bar" href="/libraries">Библиотеки</a>
            <a class="nav-bar" href="/books">Книги</a>
            <a class="nav-bar" href="/readingrooms">Читални</a>
            <a th:if="${isLoggedIn == true}" class="nav-bar" href="/user" style="border-style: solid; border-color: black; border-radius: 10px; color: black">МојаСтрана</a>
            <a th:if="${isLoggedIn == false}" class="nav-bar" style="margin-left: 30%" href="/login">Најава</a>
            <a th:if="${isLoggedIn == true}" class="nav-bar" style="margin-left: 30%" href="/logout">Одјава</a>

        </div>
    </div>
</nav>


<div th:if="${isLoggedIn == false}" style="color: white">
    <div class="container">
        <h1>
            За преглед на оваа страница треба да сте најавени.
        </h1>
        <br/>
        <a class="btn btn-primary" href="/home">Назад</a>
    </div>
</div>
<div th:if="${isLoggedIn == true}">

    <div class="container">
        <div class="row">
            <form th:action="@{'user/numSeats'}" th:method="POST" th:if="${isReadingRoom==true}">
                <label style="color: white">Број на слободни седишта</label>
                <input id="numSeats" name="numSeats" th:if="${isReadingRoom==true}" th:value="${numFreeSeats}" style="background: white; width: 30%;  border-radius: 3px;text-decoration-color: #110606">
                <button type="submit">Внеси промена </button>
            </form>
            <form th:action="@{'/user/add-form'}" th:method="POST" >
                <button type="submit">Внеси нова книга</button>
            </form>
            <table class="table table-striped" style="color: white">
                <thead>
                <tr>
                    <th scope="col">Име на книга</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Читаност</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${bookList}">
                    <td><a th:href="@{'/books/{id}' (id=${book.getId()})}"><span th:text="${book.getName()}"></span></a></td>
                    <td th:text="${book.getAuthorName()}"></td>
                    <td th:text="${book.getCounter_read()}"></td>
                    <td>
                        <form th:action="@{'/books/delete/{id}' (id=${book.getId()})}"
                              th:method="DELETE">
                            <button type="submit">
                                <i>Избриши</i>
                            </button>
                        </form>
                        <form th:action="@{'/books/chitana/{id}' (id=${book.getId()})}"
                              th:method="POST">
                            <button type="submit">
                                <i>Книгата е земена од корисник</i>
                            </button>
                        </form>
                    </td>
                    <td>
                        <a th:href="@{'/books/edit/{id}' (id=${book.getId()})}" th:method="GET">Промени</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>



</div>

</body>
</html>