


<div class="container mb-4"  xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <form th:action="@{'/books'}" th:method="GET">
            <input type="text" name="searchText" id="searchText">
            <button>Search</button>
        </form>
    <div class="table-responsive">
        <table class="table table-striped" style="color: white">
            <thead>
            <tr>
                <th scope="col">Book name</th>
                <th scope="col">Author</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td >  <a th:href="@{'/books/{id}' (id=${book.getId()})}"><span  th:text="${book.getName()}" ></span></a></td>
                <td th:text="${book.getAuthorName()}"></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>

    <hr class="container" style="background-color: white; height: 2px; border-radius: 2px"/>

    <div style="color: white">Најчитана книга:<br>
        <th:block>
            <ul>
                <li th:text="${mostReadBooks.get(0).getName()}"></li>
            </ul>
        </th:block>
    </div>
    <br>
    <div style="color: white">
        <ul>
            <th:block th:each="sortBook : ${mostReadBooks}">
                <ul>
                    <li th:text="${sortBook.getName()}"></li>
                </ul>
            </th:block>
        </ul>
    </div>

</div>
