<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Променeте книга</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        #bb{
            font-family: Arial;
            margin-top: 2%;
            color: white;
            background-image: url(../../images/pozadina.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
        .nav-bar{
            font-size: 23px;
            padding: 10px;
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body id="bb">
<div class="container">
    <div class="row">
        <form th:action="@{'/books/edit/{id}'(id=${book.getId()})} " th:method="POST">
            <div>
                <label>Име на книгата</label>
                <input  th:value="${book.getName()}"name="name" id="name">
            </div>
            <div>
                <label>Име на авторот</label>
                <input  th:value="${book.getAuthorName()}" name="author" id="author">
            </div>
            <div>
                <label>Опис на книгата</label>
                <input  th:value="${book.getDescription()}" name="desc" id="desc">
            </div>
            <div>
                <label>Број на достапни книги</label>
                <input  th:value="${book.getCounter()}" name="counter" id="counter">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>



</body>
</html>